# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directories (e.g., from testing tools like Istanbul)
coverage/
.nyc_output/

# Environment variable files
.env
.env.local
.env.*.local

# Build output directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor directories
.vscode/
.idea/
